* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

html {
    font-size: 62.5%;
}

h2 {
    font-size: 3.5rem;
}

p {
    font-size: 1.8rem;
}
.menu-principal, .menu, nav, .presentacion, .titulo_presentacion, .texto_presentacion, .plan, .formulario, fieldset {
    display: flex;
}

.menu-principal, .presentacion {
    justify-content: space-between;
    width: 100%;
}

.titulo_presentacion, .texto_presentacion, .formulario {
    justify-content: center;
    align-items: center;
}

.titulo_presentacion {
    text-align: center;
}

.titulo_presentacion h2, .texto_presentacion p, fieldset {
    color: #ffff;
}

.titulo_presentacion, .texto_presentacion, .titulo_formulario, fieldset button, .caja {
    background-color: #760468;
}

.logo_bilingües {
    background-color: #ffff;
    margin-left: 4.5rem
}

.plan_estudio, .formulario {
    width: 50vw;
}

nav {
    padding-right: 4.1rem;
    align-items: center;
}

.menu {
    list-style: none;
    gap: 3.5rem;
}

.menu-items {
    font-family: Montserrat, sans-serif;
    text-decoration: none;
    font-size: 1.7rem;
    color: black;    
}

.presentacion {
    background-image: url("./assets/medium-shot-people-working-with-computers\ 1.jpg");
    background-size: cover;
    height: 100vh;
    align-items: end;
}

.titulo_presentacion {
    height: 15.2rem;
    width: 63.2rem;
    margin-bottom: 35.6rem;
}

.texto_presentacion {
    height: 5rem;
    width: 41.3rem;
}

.formulario {
    background-image: url("./assets/coding-man\ 1\ \(1\).png");
    background-size: cover;
    background-position: center;
}

fieldset {
    flex-wrap: wrap;
    gap: 3.1rem;   
    padding: 7.65rem 4.27rem 5.83rem 3.68rem;
}

form fieldset {
    background-color: #FFFFFF;
    margin: 3.8rem 11.43rem 4.1rem 12.8rem ;
    border-radius: 2.5rem;
    width: 72.84rem;
    height: 93.10rem;
}

.titulo_formulario {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10.1rem;
}

fieldset input {
   border-radius: 1rem; 
   font-size: 2rem;
}

.input1, .input2, .input4, .input5 {
    width: 30.9rem;
    height: 6.5rem;
}

.input3 {
    width: 64.9rem;
    height: 6.52rem;
}

.input6 {
    width: 64.9rem;
    height: 25.79rem;
}

fieldset button {
    height: 72px;
    width: 241px;
    font-size: 2.5rem;
    margin-left: 90px;
}

.terminos label {
   font-size: 1.5rem;
   color: black;
}

.caja {
    height: 10.46rem;
    width: 10rem;
}

.programas h2 {
    height: 12rem;
    width: 53.7rem;
    font-weight: bold;
    margin-left: 10.1rem;
}

.programas p {
    margin: 0rem 4.5rem 8.9rem 5.1rem;
}